body {
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#formContainer {
    margin-left: 5%;
}

#generateButton {
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#mappedJsonContainer,
#keysListbox {
    display: none;
}

#generateOutputJson,
#mapButton,
#createListButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: hsl(204, 70%, 53%);
    color: white;
    border: darkblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generateOutputJson:hover {
    background-color: #2980b9;
}

h1 {
    border: 2px solid hsl(204, 70%, 53%);
    padding: 30px;
    text-align: center;
}

.error-message {
    background-color: #FFCACA;
    color: #a60202;
    border-radius: 5px;
}

.ms {
    width: 100%;
    margin: auto;
    padding: 1em;
    float: left;
    display: block;
    margin-bottom: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

#formContainer {
    margin-top: 20px;
}

#mappedJsonContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#mapper-form {
    margin-left: 15%;
    background-color: #f0f0f0;
}

.label {
    margin-bottom: 5px;
}

.input-container {
    margin-bottom: 10px;
}

.field-container {
    margin-bottom: 8.5px;
    margin-top: 2px;
    padding-left: 20px;
}

input[type="text"],
select {
    width: 15%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #487fab;
}

#table_mapping{
    margin-block-end: 5%;
}