/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defina as cores do CRM PipeRun */
body {
    background-color: #f7f8f9;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    resize: vertical;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: darkblue;
}
#formContainer{
    text-shadow: #005bb8;
}
button:hover {
    background-color: #005bb8;
}

.error-message {
    background-color: #FFCACA;
    color: #a60202;
    border-radius: 5px;
    text-align: center;
}

#generateButton {
    text-align: center;
    margin-top: 20px;
}

#mappedJsonContainer {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    textarea {
        height: 150px;
        /* Altura menor para dispositivos menores */
    }
}

#previewJson, #createListButton, #mappedJsonContainer{
    display: none;
}