 body {
     min-height: 100vh;
     margin: 0;
     background-color: #f0f0f0;
 }

 #generateButton {
     padding: 10px;
     margin-left: 44%;
     margin-right: 35%;

 }

 #generateOutputJson,
 #mapButton,
 #createListButton {
     padding: 10px 20px;
     font-size: 16px;
     background-color: hsl(204, 70%, 53%);
     color: white;
     border: darkblue;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 #generateOutputJson:hover {
     background-color: #2980b9;
 }

 h1 {
     border: 2px solid hsl(204, 70%, 53%);
     padding: 30px;
     text-align: center;
 }

 .error-message {
     color: red;
     margin-bottom: 10px;
 }

 #formContainer {
     margin-top: 20px;
 }

 #mappedJsonContainer {
     margin-top: 20px;
     border: 1px solid #ccc;
     padding: 10px;
 }

 .label {
     margin-bottom: 10px;
     /* Adicione o espaço vertical desejado */
 }

 .input-container {
     margin-bottom: 10px;
     /* Adicione o espaço vertical desejado */
 }

 .field-container {
     margin-bottom: 8.5px;
     /* Adicione o espaço vertical desejado */
 }